//SASS PAGE
$base-color: #c6538c;
$blac-color:#212121;
// $back-opacity: rgb(33, 33, 33,.9);
$back-opacity: rgb(0, 0, 0,.9);
$white-kolor: #fff;
$white-opacity:#f9f9f9;


.banner{
    background: url('../assets/Energie-electrique.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background: red;
    height: 500px;
    width: 100%;
    color: $white-kolor;
    text-align: center;
    // padding: 10px;

    .cover{
        width: 100%;
        height: 100%;
        background: $back-opacity;
        // background: red;
        h1{
            padding-top: 220px;
            margin: 0;
            font-size: 60px;
            color: #f9f9f9;
        }
        p{
            font-size: 13px;
            color: $white-opacity;
            font-weight: 400;
        }
    }
}

// @media screen and (max-width:1024px) {
//     .about{
//         .sommary{
//             width: 90%;
//             margin: auto;
//             // text-align: center;
//             // font-weight: 400;
//             // background-color: red;
//             font-size: 22px;

//             h4{
//                 font-weight: 500;
//             }
//         }
//     }
// }

@media screen and (max-width:600px) {
    
.banner{
    // background: red;
    height: 500px;
    width: 100%;
    color: $white-kolor;
    text-align: center;
    // padding: 10px;

    .cover{
        width: 100%;
        height: 100%;
        background: $back-opacity;
        // background: red;
        h1{
            padding-top: 220px;
            margin: 0;
            font-size: 30px;
            color: #f9f9f9;
        }
        p{
            font-size: 18px;
            color: $white-opacity;
            font-weight: 400;
            // background: red;
            // width: 98%;
            // margin: auto;
            // text-align:justify;
            padding: 1px;
        }
    }
}
}

// @media screen and (max-width:200px) {
//     .about{
//         .sommary{
//             width: 90%;
//             margin: auto;
//             // text-align: center;
//             font-weight: 400;
//             background-color: blue;
//             font-size: 20px;
//             h4{
//                 font-weight: 400;
//             }
//         }
//     }
// }