.c{
    width: 80%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3px;
    .kart{
        // border: 1px solid red;
        text-align: center;
        .photo{
            border-radius: 50%;
            background: black;
            height: 200px;
            // width: 320px;
            p{
                margin: 2px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .c{
        width: 95%;
        margin: 5px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 3px;
        padding: 20px;
        .kart{
            // border: 1px solid red;
            text-align: center;
            .photo{
                border-radius: 50%;
                background: black;
                height: 380px;
                p{
                    margin: 2px;
                }
            }
        }
    }
}