//SASS PAGE
$base-color: #c6538c;
$blac-color: #212121;
$red: #ff0006;
$blue: #003464;
$yellow: #ff9922;
$back-opacity: rgb(0, 0, 0, 0.9);
$white-kolor: #fff;
$white-opacity: #f9f9f9;
$white-black: #f7f7f7;

nav {
  background: #327334;
  height: 90px;
  width: 100%;
  display: flex;
  //   justify-content: space-around;
  text-align: center;
  gap: 3px;
  align-items: center;
  margin-bottom: 7px;
  position: fixed;

  .items {
    align-items: center;
    // background: blue;
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    h2 {
      font-size: 12px;
      font-weight: 800;
    }

    ul {
      color: $white-kolor;
      // background: red;
      display: flex;
      gap: 10px;
      margin-top: 20px;
      padding: 20px;
      // list-style: none;
      li {
        text-decoration: none;
        list-style: none;
        color: $white-kolor;
        font-size: 14px;
        font-weight: 600;
        .link {
          text-decoration: none;
          color: $white-kolor;
          &:hover{
            color: #212121;
          }
        }
        
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    background: transparent;
    // background: $red;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    .icon {
      img {
        height: 120px;
        width: 150px;
      }
    }

    .items {
      align-items: center;
      // background: blue;
      ul {
        color: $white-kolor;
        li {
          text-decoration: none;
          list-style: none;
          color: $white-kolor;
          font-size: 25px;
          // font-weight: 600;
          // .link{
          //     text-decoration: none;
          //     color: $white-kolor;
          // }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    background: transparent;
    // background: $red;
    .icon {
      img {
        height: 120px;
        width: 150px;
      }
    }

    .items {
      align-items: center;
      // background: blue;
      ul {
        color: $white-kolor;
        li {
          text-decoration: none;
          list-style: none;
          color: $white-kolor;
          font-size: 15px;
        }
      }
    }
  }
}
